<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tradinggames.com.tradinggames">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Login">
            <intent-filter>
                <action android:name="tradinggames.com.tradinggames.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainAnuncios">
            <intent-filter>
                <action android:name="tradinggames.com.tradinggames.MainAnuncios" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateAccount">
            <intent-filter>
                <action android:name="tradinggames.com.tradinggames.CreateAccount" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ForgotPassword">
            <intent-filter>
                <action android:name="tradinggames.com.tradinggames.ForgotPassword" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DetailAnuncio">
            <intent-filter>
                <action android:name="tradinggames.com.tradinggames.DetailAnuncio" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateAnuncio">
            <intent-filter>
                <action android:name="tradinggames.com.tradinggames.CreateAnuncio" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserActivity"></activity>
    </application>

</manifest>